<p id="notice"><%= notice %></p>

<h1>All Doctors</h1>

<%= link_to 'New Doctor', new_doctor_path, class: 'btn btn-primary', style: "margin-bottom: 30px;" %>

<% @doctors.each do |doctor| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><%= link_to doctor.name, doctor %></h2>
    </div>
  </div>
<% end %>